﻿@page "/atro"
@namespace MT.Perlen.Holz.Infrastructure.ScaleDriver
@using  MT.Perlen.Holz.Model
@using MT.Perlen.Holz.Infrastructure
@inject ScaleProvider scale
@inject HolzDbContext Database
@inject NavigationManager NavigationManager
@inject SAPConnectorService SAPConnector
@inject IJSRuntime JsRuntime


<h1>Einlesen ATRO</h1>

<p>
    Container mit Holzprobe (Brutto):
    @if (scale.LastWeightTest.diff != TimeSpan.MaxValue)
    {@string.Format("  {0} g", scale.LastWeightTest.net)}
else
    {@string.Format("  ---- g")}
</p> 
<label style for="fname">
    MT-ID:
    <input class="input-group-text" type="text" Id="fname" name="fname" @bind="@mtid" @bind:event="oninput" />
</label>

<br>
<br>

<button class="btn btn-primary" @onclick="SendValues" disabled=@disable>@text</button>

@code {

    private string mtid;
    private string text = "ATRO-Gewicht an SAP senden";
    private bool disable = false;

    private async void SendValues()
    {
        int id;

        //  Database.Entry(Transactions).Reload();

        if ((mtid != null) && (mtid.Length > 2) && (int.TryParse(mtid.Substring(1), out id)))
        {
            Transaction tr = Database.Transactions.Find(id);
            if (tr != null)
            {
                if ((tr.AtroWeight == 0) && (tr.LutroWeight > 0))
                {
                    if (scale.LastWeightTest.net < 10)
                    {
                        await JsRuntime.InvokeVoidAsync("alert", "Kein Container auf der Waage? Bitte überprüfen.");
                        return;
                    }

                    if (scale.LastWeightTest.tare > 1)
                    {
                        await JsRuntime.InvokeVoidAsync("alert", "Waage vor Rückwiegung Null stellen!. Bitte überprüfen.");
                        return;
                    }

                    text = "bitte warten...";
                    disable = true;
                    StateHasChanged();
                    tr.AtroWeight = scale.LastWeightTest.net - tr.ContainerWeight;
                    tr.LossPercent = (tr.LutroWeight - tr.AtroWeight) * 100 / tr.LutroWeight;
                    tr.AtroWeightCreatedAt = DateTime.Now;
                    Database.SaveChanges();
                    try
                    {
                        var result = await SAPConnector.HolzAtromeldung(tr);
                        if (result.BAPIRet.Message.Length == 0)
                            await JsRuntime.InvokeVoidAsync("alert", $"Meldung für {tr.SAPBelNr} erfolgreich an SAP gesendet");
                        else
                            await JsRuntime.InvokeVoidAsync("alert", $"Meldung für {tr.SAPBelNr} von SAP: {result.BAPIRet.Message}");
                    }
                    catch (Exception ex)
                    {
                        await JsRuntime.InvokeVoidAsync("alert", $"Fehler SAP: {ex.Message}");
                    }
                    NavigationManager.NavigateTo("/");
                }
                else
                    await JsRuntime.InvokeVoidAsync("alert", "ATRO-Gewicht bereits erfasst!");
            }
            else
                await JsRuntime.InvokeVoidAsync("alert", "MT-ID existiert nicht. Bitte überprüfen.");
        }
        else
            await JsRuntime.InvokeVoidAsync("alert", "MT-ID nicht gültig. Bitte überprüfen.");
    }

    protected override async Task OnInitializedAsync()
    {

        scale.WeightChanged += (s, e) =>
        {
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        JsRuntime.InvokeVoidAsync("focusInput", "fname");
        return base.OnAfterRenderAsync(firstRender);
    }

}
