﻿@page "/fetchdata"

@using MT.Perlen.Holz.Model
@using MT.Perlen.Holz.Infrastructure

@inject HolzDbContext Database
@inject ZebraPrinter zebraPrinter
@inject StarPrinter starPrinter
@inject IJSRuntime JsRuntime

<h1>Übersicht</h1>
<p>Übersicht der Lieferungen</p>
<br />

@if (transactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>MT-ID</th>
                <th>Bestell-Nr.</th>
                <th>SAP-Beleg-Nr.</th>
                <th>Name</th>
                <th>LKW-Kennzeichen</th>
                <th>Lutro [g]</th>
                <th>Atro [g]</th>
                <th>Ausfahrt</th>
                <th>Wiegeschein</th>
                <th>Holzprobe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactions)
            {
                @if (transaction.PartnerId > 0)
                {
                    prt = Database.Partners.Find(transaction.PartnerId);
                    <tr>
                        <td>@string.Format("H{0:0000000}", transaction.Id)</td>
                        <td>@transaction.OrderNr</td>
                        <td>@transaction.SAPBelNr</td>
                        <td>@prt.SAPName1</td>
                        <td>@transaction.LicPlateTruck</td>
                        <td>@transaction.LutroWeight.ToString("N1")</td>
                        <td>@transaction.AtroWeight.ToString("N1")</td>
                        <td>
                            <button class="btn btn-primary" @onclick="@(() => PrintStar(transaction))">Druck</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" @onclick="@(() => PrintStarW(transaction))">Druck</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" @onclick="@(() => PrintZebra(transaction))">Druck</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    private Transaction[] transactions;
    private Partner prt;

    protected override async Task OnInitializedAsync()
    {
        //  transactions = Database.Transactions.Where(d => d.FirstWeightCreatedAt.AddHours(24) > DateTime.Now).OrderByDescending(e => e.Id).ToArray();
        transactions = Database.Transactions.Where(d => d.FirstWeightCreatedAt > DateTime.Today).OrderByDescending(e => e.Id).ToArray();
        await Task.CompletedTask;
    }

    private async void PrintStar(Transaction tr)
    {
        starPrinter.PrintWeighingTicket(tr);
    }
    private async void PrintStarW(Transaction tr)
    {
        if (tr.Type == 0)
            starPrinter.PrintWoodTicket(tr);
        else
            starPrinter.PrintMudTicket(tr);
    }
    private void PrintZebra(Transaction tr)
    {
        zebraPrinter.Print(tr);
    }
}
