﻿@page "/fraktion"
@namespace MT.Perlen.Holz.Infrastructure.ScaleDriver
@using  MT.Perlen.Holz.Model
@using MT.Perlen.Holz.Infrastructure
@using MT.DataServices.Logging
@inject ScaleProvider scale
@inject HolzDbContext Database
@inject NavigationManager NavigationManager
@inject SAPConnectorService SAPConnector
@inject ILogSink LogSink
@inject IJSRuntime JsRuntime


<h1>Einlesen FRAKTION</h1>

<p>
    Sieb mit Holzprobe (Brutto)
    @if (scale.LastWeightTest.diff != TimeSpan.MaxValue)
    {@string.Format("  {0} g", scale.LastWeightTest.net)}
else
{@string.Format("  ---- g")}
</p>



<p>
    <label style for="fname">
        MT-ID:
        <input class="input-group-text" type="text" Id="fname" name="fname" @bind="@mtid" @bind:event="oninput" />
    </label>
    <button class="btn btn-primary ml-2" @onclick="CheckFraction">Aktualisieren</button>
</p>
<br>
<p>@Info</p>
<br />
<p>
    <button class="btn btn-primary m-1" @onclick="() => StoreValues(0)" disabled=@disable[0]>  FRAKTION 1 leer  </button>
</p>

<p>
    <button class="btn btn-primary m-1" @onclick="() => StoreValues(1)" disabled=@disable[0]>@text[0]</button>
    <button class="btn btn-primary m-1" @onclick="() => StoreValues(2)" disabled=@disable[1]>@text[1]</button>
    <button class="btn btn-primary m-1" @onclick="() => StoreValues(3)" disabled=@disable[2]>@text[2]</button>
    <button class="btn btn-primary m-1" @onclick="() => StoreValues(4)" disabled=@disable[3]>@text[3]</button>
    <button class="btn btn-primary m-1" @onclick="() => StoreValues(5)" disabled=@disable[4]>@text[4]</button>
</p>
<br>
<br>
<button class="btn btn-primary" @onclick="SendValues" disabled=@disable2>@text2</button>

@code {

    private string mtid;
    string[] text = new string[5];
    bool[] disable = new bool[5];
    private string text2 = "FRAKTION an SAP senden";
    private bool disable2 = true;
    private string Info = "";

    private async void StoreValues(int i)
    {
        int id;


        if (scale.LastWeightTest.net < 10 && i > 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Kein Sieb auf der Waage? Bitte überprüfen.");
            return;
        }


        if ((mtid != null) && (mtid.Length > 2) && (int.TryParse(mtid.Substring(1), out id)))
        {
            Transaction tr = Database.Transactions.Find(id);
            if (tr != null)
            {
                FracConst fc = Database.FracConsts.FirstOrDefault(d => d.FracNr == i);
                if (fc != null)
                {
                    Fraction fr = Database.Fractions.FirstOrDefault(d => ((d.TransId == tr.Id) && (d.Name == fc.FracName)));
                    if (fr == null)
                    {
                        Fraction newfr = new Fraction()
                        {
                            TransId = tr.Id,
                            Name = fc.FracName,
                            Weight = (i == 0) ? 0 : (scale.LastWeightTest.net - fc.FracTara),
                            WeightCreatedAt = DateTime.Now
                        };
                        Database.Fractions.Add(newfr);
                        Database.SaveChanges();
                        CheckFraction();
                    }
                    else
                        await JsRuntime.InvokeVoidAsync("alert", $"Fraktion {i} bereits erfasst!");
                }
            }
            else
                await JsRuntime.InvokeVoidAsync("alert", "MT-ID existiert nicht. Bitte überprüfen.");
        }
        else
            await JsRuntime.InvokeVoidAsync("alert", "MT-ID nicht gültig. Bitte überprüfen.");
        //  StateHasChanged();
    }

    private async void CheckFraction()
    {
        int id;

        if (scale.LastWeightTest.tare > 0)
            await JsRuntime.InvokeVoidAsync("alert", "Tara in Waage nicht gelöscht. Bitte überprüfen!");
        else
        {

            if ((mtid != null) && (mtid.Length > 2) && (int.TryParse(mtid.Substring(1), out id)))
            {
                Transaction tr = Database.Transactions.Find(id);
                if (tr != null)
                {
                    for (int i = 1; i < 6; i++)
                        disable[i - 1] = false;

                    List<Fraction>
        fr = Database.Fractions.Where(d => d.TransId == tr.Id).ToList();
                    foreach (Fraction item in fr)
                    {
                        int nr = int.Parse(item.Name.Substring(7, 1));
                        text[nr - 1] = $"FRAKTION {nr} {item.Weight.ToString("N1")} g";
                        disable[nr - 1] = true;
                    }
                    if (fr.Count == 5)
                        disable2 = false;
                    Partner prt = Database.Partners.Find(tr.PartnerId);
                    if (prt != null)
                        Info = $"{tr.SAPBelNr} / {prt.SAPName1} / {tr.LicPlateTruck}";
                }
                else
                    await JsRuntime.InvokeVoidAsync("alert", "MT-ID existiert nicht. Bitte überprüfen.");
            }
            else
                await JsRuntime.InvokeVoidAsync("alert", "MT-ID nicht gültig. Bitte überprüfen.");
        }

    }

    private async void SendValues()
    {
        int id;

        if ((mtid != null) && (mtid.Length > 2) && (int.TryParse(mtid.Substring(1), out id)))
        {
            Transaction tr = Database.Transactions.Find(id);
            if (tr != null)
            {
                text2 = "bitte warten...";
                disable2 = true;
                StateHasChanged();
                List<Fraction>
                    fr = Database.Fractions.Where(d => d.TransId == tr.Id).ToList();
                try
                {
                    var result = await SAPConnector.HolzFraktionmeldung(tr, fr);
                    if (result.BAPIRet.Message.Length == 0)
                        await JsRuntime.InvokeVoidAsync("alert", $"Meldung für {tr.SAPBelNr} erfolgreich an SAP gesendet");
                    else
                        await JsRuntime.InvokeVoidAsync("alert", $"Meldung für {tr.SAPBelNr} von SAP: {result.BAPIRet.Message}");
                }
                catch (Exception ex)
                {
                    await JsRuntime.InvokeVoidAsync("alert", $"Fehler SAP: {ex.Message}");
                }
                NavigationManager.NavigateTo("/");
            }
            else
                await JsRuntime.InvokeVoidAsync("alert", "MT-ID existiert nicht. Bitte überprüfen.");
        }
        else
            await JsRuntime.InvokeVoidAsync("alert", "MT-ID nicht gültig. Bitte überprüfen.");
    }

    protected override async Task OnInitializedAsync()
    {
        for (int i = 1; i < 6; i++)
        {
            text[i - 1] = $"FRAKTION {i} erfassen";
            disable[i - 1] = true;
        }

        scale.WeightChanged += (s, e) =>
        {
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            JsRuntime.InvokeVoidAsync("BlazorFocusElement", "fname");
        return base.OnAfterRenderAsync(firstRender);
    }

}
