﻿@page "/"
@using System.Net.NetworkInformation;
@using System.Net;
@inject PerlenConfiguration Config

<h1> <center>Perlen Papier AG </center></h1>

<h4>
    <center>
        Zur Erfassung von Probedaten und dem Nachdruck von Etiketten bitte Funktion links auswählen.
    </center>


</h4>
<br />

<div class="text-center" style="margin-top: 20px">
    <p>Verbindungskontrolle am @DateTime.Now.ToString("dd.MMMM yyyy   HH:mm:ss")</p>
    <p>
        Waagenterminal (@Config.IPIND780)
        <div hidden="@(!IND780)" style="color: green;">OK</div>
        <div hidden="@(IND780)" style="color: red;"> NOT OK</div>
    </p>
    <p>
        Wiegescheindrucker (@Config.IPPrinterStar)
        <div hidden="@(!PrinterStar)" style="color: green;">OK</div>
        <div hidden="@(PrinterStar)" style="color: red;"> NOT OK</div>
    </p>
    <p>
        Probenwaage (@Config.IPTestScale)
        <div hidden="@(!TestScale)" style="color: green;">OK</div>
        <div hidden="@(TestScale)" style="color: red;"> NOT OK</div>
    </p>
    <p>
        Probenetikettendrucker (@Config.IPPrinterZD620)
        <div hidden="@(!PrinterZD620)" style="color: green;">OK</div>
        <div hidden="@(PrinterZD620)" style="color: red;"> NOT OK</div>
    </p>


</div>


@code
{
    private bool IND780 = false;
    private bool PrinterStar = false;
    private bool TestScale = false;
    private bool PrinterZD620 = false;

    protected override async Task OnInitializedAsync()
    {
        Ping sender = new Ping();
        IND780 = (sender.Send(IPAddress.Parse(Config.IPIND780), 250).Status == IPStatus.Success);
        PrinterStar = (sender.Send(IPAddress.Parse(Config.IPPrinterStar), 250).Status == IPStatus.Success);
        TestScale = (sender.Send(IPAddress.Parse(Config.IPTestScale), 250).Status == IPStatus.Success);
        PrinterZD620 = (sender.Send(IPAddress.Parse(Config.IPPrinterZD620), 250).Status == IPStatus.Success);

    }


}


