﻿@page "/lutro"
@namespace MT.Perlen.Holz.Infrastructure.ScaleDriver
@using  MT.Perlen.Holz.Model
@inject ScaleProvider scale
@inject HolzDbContext Database
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime


<h1>Einlesen LUTRO</h1>

<p>
    Container (Tara):
    @if (scale.LastWeightTest.diff != TimeSpan.MaxValue)
        {@string.Format("  {0} g", scale.LastWeightTest.tare)}
    else
        {@string.Format("  ---- g")}
</p>

<p>
    Holzprobe (Netto):
    @if (scale.LastWeightTest.diff != TimeSpan.MaxValue)
        {@string.Format("  {0} g", scale.LastWeightTest.net)}
    else
        {@string.Format("  ---- g")}
</p>

<label style for="fname">
    MT-ID:
    <input class="input-group-text" type="text" autofocus Id="fname" name="fname" @bind="@mtid" @bind:event="oninput" />
</label>
<br>
<br>

<button class="btn btn-primary" @onclick="SendValues" disabled=@disable>@text</button>

@code {

    private string mtid;
    private string text = "LUTRO-Gewicht erfassen";
    private bool disable = false;

    private async void SendValues()
    {
        int id;


        if ((mtid != null) && (mtid.Length > 2) && (int.TryParse(mtid.Substring(1), out id)))
        {
            Transaction tr = Database.Transactions.Find(id);
            if (tr != null)
            {
                if (tr.LutroWeight == 0)
                {
                    if (scale.LastWeightTest.net < 10)
                    {
                        await JsRuntime.InvokeVoidAsync("alert", "Holzeinwaage zu klein. Bitte überprüfen.");
                        return;
                    }

                    if (scale.LastWeightTest.tare < 10)
                    {
                        await JsRuntime.InvokeVoidAsync("alert", "Schale nicht tariert. Bitte überprüfen.");
                        return;
                    }

                    text = "bitte warten...";
                    disable = true;
                    StateHasChanged();
                    tr.LutroWeight = scale.LastWeightTest.net;
                    tr.ContainerWeight = scale.LastWeightTest.tare;
                    tr.LutroWeightCreatedAt = DateTime.Now;
                    Database.SaveChanges();
                    await JsRuntime.InvokeVoidAsync("alert", $"Meldung für {tr.SAPBelNr} erfolgreich gespeichert");

                    NavigationManager.NavigateTo("/");
                }
                else
                    await JsRuntime.InvokeVoidAsync("alert", "LUTRO-Gewicht bereits erfasst!");
            }
            else
                await JsRuntime.InvokeVoidAsync("alert", "MT-ID existiert nicht. Bitte überprüfen.");
        }
        else
            await JsRuntime.InvokeVoidAsync("alert", "MT-ID nicht gültig. Bitte überprüfen.");
    }

    protected override async Task OnInitializedAsync()
    {

        scale.WeightChanged += (s, e) =>
        {
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        JsRuntime.InvokeVoidAsync("BlazorFocusElement", "fname");
        return base.OnAfterRenderAsync(firstRender);
    }

}
