﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MT.Perlen.Holz</a>
</div>

<div >
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lutro">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lutro-Wiegung
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="atro">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Atro-Wiegung
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fraktion">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fraktion
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Übersicht
            </NavLink>
        </li>
    </ul>
</div>

